$body-bgc: #3450A1;
$main-color: #041955;
$text1: #fff;
$btn-bgc: #fff;
$li-bgc: #eee;
$li-border-color: #ddd;
$btn-disabled-bgc: #ddd;
$li-completed-color: #666;
$categories-list-item-before: #3450A1;
$error-msg-color: red;